{% comment %}
  Section: Main Product (варіанти, ціна, qty, AJAX)
{% endcomment %}

<section class="productpage__cardproduct cardproduct-productpage">
  <div class="cardproduct-productpage__content">

    <div class="cardproduct-productpage__breadcrumbs-mob"></div>

    <div class="cardproduct-productpage__block-sticky">
      <!-- Left: Images -->
      <div class="cardproduct-productpage__left-sticky leftsticky-productpage">
        <div class="leftsticky-productpage__items-image">
          {% for image in product.images %}
            <div class="leftsticky-productpage__item-image">
              <a href="{{ image.src | img_url: 'master' }}" class="leftsticky-productpage__link">
                <img
                  class="leftsticky-productpage__image ibg"
                  src="{{ image.src | img_url: 'master' }}"
                  alt="{{ image.alt | escape }}"
                  {% if forloop.first %}data-product-image{% endif %}>
              </a>
            </div>
          {% endfor %}
        </div>
      </div>

      <!-- Right -->
      <div class="cardproduct-productpage__right-sticky rightsticky-productpage">
        <div class="rightsticky-productpage__content">
          <div class="rightsticky-productpage__header">
            <div data-fls-dynamic=".cardproduct-productpage__breadcrumbs-mob, 768" class="rightsticky-productpage__breadcrumbs-block">
              {% render 'breadcrumbs' %}
            </div>
            <h2 class="rightsticky-productpage__title">{{ product.title }}</h2>

            {% assign sel_variant = product.selected_or_first_available_variant %}
            <div class="rightsticky-productpage__price" data-product-price>
              <span data-price-current>{{ sel_variant.price | money }}</span>
              {% if sel_variant.compare_at_price > sel_variant.price %}
                <span class="price price--compare" data-price-compare>{{ sel_variant.compare_at_price | money }}</span>
              {% else %}
                <span class="price price--compare" data-price-compare style="display:none"></span>
              {% endif %}
            </div>

            {% if product.description != blank %}
              <div class="rightsticky-productpage__parahraph">
                <p class="rightsticky-productpage__text">{{ product.description }}</p>
              </div>
            {% endif %}
          </div>

          <!-- FORM -->
          <form method="post"
                action="/cart/add"
                class="rightsticky-productpage__form form-productpage"
                accept-charset="UTF-8"
                data-product-form>
            
            {%- for option in product.options_with_values -%}
				{%- if option.name != 'Title' or option.values.size != 1 or option.values.first != 'Default Title' -%}
					{%- assign option_index0 = forloop.index0 -%}
					<div class="form-productpage__line">
						<div class="form-productpage__size-set">{{ option.name }}:</div>
						<div class="form-productpage__options">
							{%- for value in option.values -%}
								<label class="form-productpage__options-item">
									<input
									class="form-productpage__options-input"
									type="radio"
									name="options[{{ option.name | escape }}]"
									value="{{ value | escape }}"
									data-option-index="{{ option_index0 }}"
									{% if option.selected_value == value %}checked{% endif %}>
									<span class="form-productpage__options-text">{{ value }}</span>
								</label>
							{%- endfor -%}
						</div>
					</div>
				{%- endif -%}
			{%- endfor -%}
			<input type="hidden" name="id" value="{{ sel_variant.id }}" data-variant-id>


            <div class="form-productpage__button-items">
              <div class="form-productpage__quantity-block">
                <div class="form-productpage__quantity" data-quantity>
                  <button type="button" class="form-productpage__button form-productpage__button--minus" data-quantity-minus></button>
                  <div class="form-productpage__input-block">
                    <input class="form-productpage__input-quantity"
                           type="text" name="quantity" value="1"
                           autocomplete="off" data-quantity-value>
                  </div>
                  <button type="button" class="form-productpage__button form-productpage__button--plus" data-quantity-plus></button>
                </div>
              </div>

              <div class="form-productpage__button-block">
                <button type="submit"
                        class="form-productpage__button-add button button--dark"
                        data-add-to-cart
                        {% unless sel_variant.available %}disabled{% endunless %}>
                  {{ 'products.product.add_to_cart' | t }}
                </button>
              </div>
            </div>
          </form>

          <!-- JSON -->
          <script type="application/json" data-product-json>
            {{ product | json }}
          </script>
        </div>
      </div>
    </div>

    <div class="cardproduct-productpage__block-fixed">
      {% if product.media.size > 0 %}
      <div class="cardproduct-productpage__left-fixed leftfixed-productpage">
        <a href="{{ product.featured_image.src | img_url: 'master' }}" class="leftfixed-productpage__link">
          <img class="leftfixed-productpage__image ibg"
               src="{{ product.featured_image.src | img_url: 'master' }}"
               alt="{{ product.title }}">
        </a>
      </div>
      {% endif %}

      <div class="cardproduct-productpage__right-fixed rightfixed-productpage">
        <div class="rightfixed-productpage__header">
          <h2 class="rightfixed-productpage__title">Key Specifications</h2>
        </div>

        <div data-fls-tabs class="rightfixed-productpage__tabs">
          <nav data-fls-tabs-titles class="rightfixed-productpage__navigation">
            <button type="button" class="rightfixed-productpage__title-tab --tab-active">Materials & Care</button>
            <button type="button" class="rightfixed-productpage__title-tab">Size guide</button>
            <button type="button" class="rightfixed-productpage__title-tab">Shipping & Return</button>
          </nav>
          <div data-fls-tabs-body class="rightfixed-productpage__content">
            <div class="rightfixed-productpage__body">
              <p class="rightfixed-productpage__text-one">{{ product.metafields.custom.materials_and_care | default: 'No information provided' }}</p>
            </div>
            <div class="rightfixed-productpage__body">
              <p class="rightfixed-productpage__text-one">{{ product.metafields.custom.size_guide | default: 'No size guide available' }}</p>
            </div>
            <div class="rightfixed-productpage__body">
              <p class="rightfixed-productpage__text-one">{{ product.metafields.custom.shipping_and_return | default: 'No shipping info available' }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<!-- money_format -->
<script type="application/json" data-product-config>
  { "moneyFormat": {{ shop.money_format | json }} }
</script>

<script src="{{ 'products.js' | asset_url }}" defer></script>

{% schema %}
{
  "name": "Main Product",
  "settings": [],
  "presets": [{ "name": "Main Product" }]
}
{% endschema %}
